.navbar {
    background: hotpink
}

body {
    font-size: 20px;
}

.navbar li {
    display: inline-block;
    text-align: center;
}

ul {
    margin: 0;
}

li {
    color: white;
    padding: 15px 0;
}

.gameName {
    width: 20%;
}

.middleNav {
    width: 60%
}

.score {
    width: 20%;
}

.highscore {
    width: 10%;
}
